# Telegram Settings
TELEGRAM_TOKEN=телеграм_токен
CHAT_ID=чат_айди

NEXT_PUBLIC_SUPABASE_URL=PUBLIC_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=анонимный_ключ
# RetailCRM
RETAILCRM_URL=RETAIL_URL #https://названиемагазина.retailcrm.ru/api/v5
RETAILCRM_KEY=RETAIL_API

# Supabase
SUPABASE_URL=вашsupabase_url
SUPABASE_KEY=supabaseapi_key
